include LICENSE
include README
include requirements.txt

recursive-include doc_src *.rst *.html *.css *.js *.png *.gif
recursive-include docs *.html *.css *.js *.png *.gif

recursive-include positions *.py
recursive-include positions/templates/ *.html
recursive-include fixtures *.json

prune example
