{% extends 'admin/base_site.html' %}

{% load i18n admin_modify adminmedia %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="/admin/">{% trans "Home" %}</a> &rsaquo;
     <a href="/admin/positions/">Positions</a> &rsaquo; 
	 <a href="/admin/positions/position/">Position</a>
</div>
{% endif %}{% endblock %}

{% block cols %}
	13
{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
	<div class="grid_13">
		<div class="module">
			<style>
				#sortable{margin:10px; list-style:none;}
				#sortable li{ padding:5px 10px; border:1px solid #ABABAB; margin:5px 0; background:#EEE;}
				/*#sortable div input{visibility:hidden;}*/
				#sortable li input{float:right; visibility:hidden; }
				#change_pending{padding:10px;background-color:#FFF47F;font-weight:bold; margin-top:4px;}
				.position_order{font-size:18px;font-weight:bold;width:45px;}
				.del{float:right; font-size:11px; color:#666; margin:5px 0; cursor:pointer;}
				#sortable li.flagged{background:#ffeeff; color:#aa0000;}
			</style>
			<script type="text/javascript">
				function init(){
					$('.deletelink').click(function(){
						$(this).parent().addClass('flagged');
						$(this).addClass('addlink');
						$(this).removeClass('deletelink');
						$('#change_pending').show();
						init();
					});
					$('.addlink').click(function(){
						$(this).parent().removeClass('flagged');
						$(this).addClass('deletelink');
						$(this).removeClass('addlink');
						$('#change_pending').show();
						init();
					});
					var i = 1;
					var j = 1;
					$(".position_order").each(function(){
						if(!$(this).parent().parent().hasClass('flagged')){
							$(this).text(j);
							j++;
						} else {
							$(this).text("Flagged for Deletion");
						}
					});
					$("li > input").each(function(){
						if(!$(this).parent().hasClass('flagged')) {
							$(this).val(i);
							i++;
						} else {
							$(this).val("-1");
						}
						$('#change_pending').show();
					});
				}
				$(function() {
					$('#change_pending').hide();
					$('#sortable > li').each(function(){
						$(this).prepend('<div class="del deletelink">&nbsp;</div>');
					});
					init();
					$("#sortable").sortable({
						items: "li",
						update: init
					});
				});
			</script>
			<div style="border:0;">
				<div class="inner"><h1>{{ position }}, shows {{ position.count }} item{% ifnotequal position.count 1 %}s{% endifnotequal %}.</h1>
				* drag and drop the items to change the order of which they appear.
				<div id="change_pending">
					You have made a change that has not been saved yet. <a href="">cancel</a>
				</div></div>
				<form action="." method="POST">
					<ul id="sortable">
						{% for form in forms %}  
							{{ form.as_ul }}
						{% endfor %}
					</ul>
					
					<div class="submit-row" {% if is_popup %}style="overflow: auto;"{% endif %}>
						<input type="submit" value="{% trans 'Save' %}" class="default" name="_save"/>
						<INPUT type='button' onclick='history.go(-1)' value='{% trans "Cancel" %}' id='cancel' name='cancel' />
					</div>
				</form>
			</div>
			<div style="padding:10px;background-color:#EFEFEF;">
				<strong>Tip:</strong> Make sure you hit <strong>SAVE</strong> button after changing the order of the items. <br/>
				<strong>Tip:</strong> If the items do not look like they where ordered correctly after saving, 
				try <a href=""><strong>clicking here</strong></a>. 
			</div>
		</div>
	</div>
{% endblock %}