{% extends 'admin/base_site.html' %}

{% load i18n admin_modify adminmedia %}

{% block breadcrumbs %}
    {% if not is_popup %}
        <div class="breadcrumbs">
            <a href="{% url admin:index %}">{% trans "Home" %}</a> &rsaquo;
            <a href="{% url admin:app_list 'positions' %}">{% trans "Positions" %}</a> &rsaquo; 
            <a href="{% url admin:positions_position_changelist %}">{% trans "Position" %}</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
	<div class="module">
	    <div style="padding:10px;">
            <h1>{{ position.name }}, shows {{ position.count }} 
                item{% ifnotequal position.count 1 %}s{% endifnotequal %}.
            </h1>
    		<form action="." method="POST">
    			<ul>
    				{% for form in forms %}  
    					{{ form.as_ul }}
    				{% endfor %}
    			</ul>
    			<div class="submit-row" {% if is_popup %}style="overflow: auto;"{% endif %}>
    				<input type="submit" value="{% trans 'Save' %}" class="default" name="_save"/>
    				<input type='button' onclick='history.go(-1)' value='{% trans "Cancel" %}' id='cancel' name='cancel' />
    			</div>
    		</form>
		</div>
	</div>
{% endblock %}